body{
	background-color: #f2f2ff;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;

}

.topleft {
	position: relative;
	bottom: 98px;
	left: 0;
}

.topright {
	position: relative;
	bottom: 21px;
	left: 25px;
}

/* #puzzle > :nth-child(2) {
	
} */